<div *ngFor="let messageSet of messageSets" >
    <div>
      <span class="badge author">{{messageSet.author}}</span>
    </div>
    <div class="talk-bubble tri-right left-in round">
    <div *ngFor="let message of messageSet.messages" >
      <span class="badge">{{message.date.getHours() + ":" + (message.date.getMinutes()
        <10? '0': '') + message.date.getMinutes()}}</span>
          <span class="badge">{{message.text}}</span>
    </div>
    <div *ngIf="messageSet.isMedia; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div>
        <img src="{{ messageSet.mediaURL }}">
      </div>
    </ng-template>
    <ng-template #elseBlock></ng-template>
  </div>
</div>
