<h4>Change your password</h4>
<form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Old Password</label>
    <input type="password" formControlName="oldPassword" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Please enter your old password</div>
    </div>
  </div>
  <div class="form-group">
    <label>New Password</label>
    <input type="text" formControlName="newPassword" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"/>
    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
      <div *ngIf="f.userName.errors.required">A new password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <label>Confirm New Password</label>
    <input type="text" formControlName="newPasswordConfirm" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"/>
    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
      <div *ngIf="f.userName.errors.required">Please confirm your new password</div>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Change Password</button>
    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>     
  </div>
</form>
