<!-- main app container -->

<h4>Change your account data</h4>
<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Enter your current email</label>
    <input type="text" formControlName="email" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email required</div>
    </div>
  </div>
  <div class="form-group">
    <label>Enter your new username</label>
    <input type="text" formControlName="newUsername" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.newUsername.errors }"/>
    <div *ngIf="submitted && f.newUsername.errors" class="invalid-feedback">
      <div *ngIf="f.newUsername.errors.required">New username required</div>
    </div>
  </div>
  <div class="form-group">
    <label>Enter your old password</label>
    <input type="text" formControlName="oldPassword" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }"/>
    <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
      <div *ngIf="f.oldPassword.errors.required">Email is required</div>
      <div *ngIf="f.oldPassword.errors.email">Email must be a valid email address</div>
    </div>
  </div>
  <div class="form-group">
    <label>Enter your new Password</label>
    <input type="password" formControlName="newPassword" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"/>
    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
      <div *ngIf="f.newPassword.errors.required">Password is required</div>
      <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Save</button>
    <a [routerLink]="['/login']" class="btn btn-link">Discard</a>     
  </div>
</form>
