.headline-app {
  padding: 20px 20px;
}
.pointer {
  cursor: pointer;
}

.btn-primary {
  border-color: #6ddc6d;
  background-color: #82e182;
}
.btn-primary:active {
  border-color: #6ddc6d;
  background-color: #82e182;
}

#logout {
  margin-top: 15px;
}
